spring:
  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/database
    username: Usuario
    password: usuario
    driver-class-name: oracle.jdbc.OracleDriver

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate:
      dialect: org.hibernate.dialect.OracleDialect

server:
  port: 8080